<nav class="navegBuscador">
    <!--Redes sociales-->
    <div class="sociales">
        <div class="logosocial">
            <a href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="logosocial">
            <a href="https://www.instagram.com/congelados.go/">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <!--Formulario de busqueda-->
    <div class="formulaBuscador">
        <div class="field has-addons">
            <form action="buscador" method="GET"></form>
            <div class="control">
                <input class="input" type="text" placeholder="Buscar">
            </div>
            <div class="control">
                <a class="button is-info color-gray">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            </form>
        </div>
    </div>
  
    <!--Ingreso sesión/ carrito-->
    <ul class="itemsSesion">
        <!--Aquí deberá ir el html al ingreso-->
        <li><a href="/usuarios/ingreso">INGRESAR</a></li>
        <li><a href="/usuarios/registro">REGISTRARSE</a></li>

        <!--Aquí deberá ir el carrito de compra-->
        <li><a href="/carrito/carrito"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
</nav>