<header class="cabecera">
    <div class="d-flex justify-content-center">
        <a href="/">
        <img class="imglogo" src="/images/logo.png" alt=""></a>
        <a href="/"><h1 class="titulo">Congelados Go!</h1></a>
    </div>
    <ul class="itemsNav">
        <li><a href="/productos/listar">PRODUCTOS</a></li>

        <li><a href="#"data-toggle="modal" data-target="#coccionModal">COCCIÓN </a></li>

        <li><a href="#"data-toggle="modal" data-target="#revenderModal">REVENDER </a></li>

        <li><a href="#"data-toggle="modal" data-target="#contactoModal">CONTACTO </a></li>

        <li><a href="#"data-toggle="modal" data-target="#deliveryModal">DELIVERY </a></li>

        <li><a href="#"data-toggle="modal" data-target="#nosotrosModal">NOSOTROS</a></li>
        
    </ul>



<!-- Button trigger modal -->

  
  <!-- Modal COCCION -->

  <div class="modal fade" id="coccionModal" tabindex="-1" aria-labelledby="coccionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="coccionModalLabel">coccion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="img.fluid w-100" src="/images/coccion.jpg" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal REVENDER -->
  
  <div class="modal fade" id="revenderModal" tabindex="-1" aria-labelledby="revenderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="revenderModalLabel">Revender</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="img.fluid w-100" src="/images/reveendedor.jpg" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal CONTACTO -->
  
  <div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="contactoModalLabel">contacto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="img.fluid w-100" src="/images/contacto.png" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal DELIVERY -->
  
  <div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="deliveryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="deliveryModalLabel">delivery</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>123-1231-123</h5>
          <p>Lorem, ipsum dolor 123123 123123</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal NOSOTROS -->
  
  <div class="modal fade" id="nosotrosModal" tabindex="-1" aria-labelledby="nosotrosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="nosotrosModalLabel">nosotros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>somos un emprendimiento familiar de madre e hijo</h5>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>



</header>