body{   
    background-color:#f1f1f1a6;
}
a:hover{
    text-decoration: none;
    
}


.copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color-grisClaro);
    border-bottom: 1px solid var(--color-grisClaro);
    color: var(--color-grisOscuro);
}
@media(min-width:1024px) {
   
    footer .copyright {
        font-size: 0.7rem;
    }
}


.cabecera{
    display: flex;
    flex-direction: row;
    background-color:#181818;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: rgb(150, 150, 150) 0px 3px 5px;
}
.titulo{
    display: flex;
    padding-left: 15px;
    color:whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}
.partLogo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.itemsNav{
    display: flex;
    align-items: center;
    background-color:#181818;
}
@media(max-width:768px) {
   
    .cabecera {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .itemsNav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .itemsNav li {
        padding: 0px 100px;
        border-right:solid black 1px;
        border-bottom: white solid 1px;
    }
}

.navbar{
    background-color:#181818;
}
.imglogo{
    height: auto;
    width: 70px;
    display:block;
}
.itemsNav li{
    list-style: none;
    padding: 0.4em 0.6em;
    text-align: center;
    align-items: center;
    border-right: solid 1px white;
}
ul li a{
    color: whitesmoke;
    /*text-decoration: none;*/
    font-family: Oswald;
}

.navegBuscador{
    display: flex;
    flex-direction: row;
    padding: 0em 4em;
    background-color:#181818;
    align-items: center;
    margin:10px auto;
    justify-content: space-between;
    box-shadow: rgb(150, 150, 150) 0px 3px 5px;
}
form input{
    background-color: rgb(223, 223, 223);
    border-color: dimgray;
    border-radius: 3px;
}
.logosocial a i{
    font-size: 2em;
    color:whitesmoke;
    padding:3px;
}
.sociales{
    display: flex;
}
.formulaBuscador{
    display: flex;   
    justify-content: center;
}

.formulaBuscador form input{
    justify-content: center;
}
.itemsSesion{
    display:flex;
    justify-content: flex-end;
}
.field{
    margin:15px;
    width:120%;
    align-items: center;
    border-radius:3px
}

.itemsSesion li{
    display: flex;
    list-style: none;
    border-right: solid 1px white;
    padding: 0em 0.4em;
    text-align: center;
    align-items: center;    
}


.cuerpo{
    display: block;
    margin: 0px 3em;
    padding: 0.8em 0.2em;
    
    align-items: center;
    justify-content: flex-start;
    background-color:#ffffdd;
    border: 0.5px solid #474747;
    box-shadow: rgb(150, 150, 150) 3px 3px 5px;
    border-radius: 2px;
}
.seccion article a img{
    height: 250px;
    width: 250px;
    justify-content: center;
}
#carousel{
    height: 20em;
    width: auto;
    justify-content: center;
    margin: 1em;
    display: flex;
    box-shadow: rgb(150, 150, 150) 0px 3px 5px;
}

.seccion{
    display: flex;
    padding: 0.5em;
}

.column{
    display: flex;
    width: 80%;
    text-align:center;
    box-shadow: rgb(150, 150, 150) 3px 3px 5px;
    font-family: 'Cairo', sans-serif;
    
}

.eliminarCar button{
    height:auto;
    width: 1em;
    justify-content: flex-end;
    background-color: red;
    color: white;
    box-shadow: rgb(150, 150, 150) 3px 3px 5px;
    margin-right: auto;
    border-radius: 1px;
}
.vermas{
    background-color: whitesmoke;
    font-family: Oswald;
    color:black;
    border-radius: 4px;
    box-shadow: rgb(150, 150, 150) 3px 3px 5px;
}
.agregarcar{
    background-color: teal;
    font-family:Oswald;
    color:black;
    border-radius:4px;
    box-shadow:rgb(150, 150, 150) 3px 3px 5px; 
}

.piePagina{
    display: flex;
    flex-direction: row;
    background-color:#181818;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
}


