
body{
    font-family: 'Oswald', sans-serif;
    background-color:#f1f1f1a6;
}
.cabecera{
    display: flex;
    flex-direction: row;
    background-color:#181818;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: rgb(150, 150, 150) 0px 3px 5px;
}
.titulo{
    display: flex;
    padding-left: 15px;
    color:whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}
.partLogo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.itemsNav{
    display: flex;
    align-items: center;
    background-color:#181818;
}
.navbar{
    background-color:#181818;
}
.imglogo{
    height: auto;
    width: 70px;
    display:block;
}
.itemsNav li{
    list-style: none;
    padding: 0.4em 0.6em;
    text-align: center;
    align-items: center;
    border-right: solid 1px white;
}

ul li a{
    color: whitesmoke;
    /*text-decoration: none;*/
    font-family: Oswald;
}

.navegBuscador{
    display: flex;
    flex-direction: row;
    padding: 0em 4em;
    background-color:#181818;
    align-items: center;
    margin:10px auto;
    justify-content: space-between;
    box-shadow: rgb(150, 150, 150) 0px 3px 5px;
}
form input{
    background-color: rgb(223, 223, 223);
    border-color: dimgray;
    border-radius: 3px;
}
.logosocial a i{
    font-size: 2em;
    color:whitesmoke;
    padding:3px;
}
.sociales{
    display: flex;
    justify-content: flex-start;
}
.formulaBuscador{
    display: flex;   
    justify-content: center;
}
.formulaBuscador form input{
    justify-content: center;
}
.itemsSesion{
    display:flex;
    justify-content: flex-end;
}
.field{
    margin:15px;
    width:120%;
    align-items: center;
    border-radius:3px
}
.itemsSesion li{
    display: flex;
    list-style: none;
    border-right: solid 1px white;
    padding: 0em 0.4em;
    text-align: center;
    align-items: center;    
}
ol.breadcrumb{
    background-color:#181818;
}
.breadcrumb-item.active {
    color: #e9ecef;
}
a{
    color:whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    width: 100%;
}
.mlLogo{
    width: 300px;
    height: 300px;
    margin-top: 49px;
    height: 357px;
}
.texto1{
    left: 100px;
}
.container-fluid{
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin: auto;
}
.mb-3, .my-3{
    max-width: 613px;
    padding: 20px;
    background-color: #ffffdd;
}

img{
    width: 196px;
    height: 199px;
}
.container{    
    position: relative;
    left: -111px;
}
.btn-block{
    background-color: teal;
    font-family: Oswald;
    color: black;
    border-radius: 4px;
    box-shadow: rgb(150, 150, 150) 3px 3px 5px;
}

.piePagina{
    display: flex;
    flex-direction: row;
    background-color:#181818;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
}