.color-nav{
    background-color: #181818;
}
.navbar-burger span{
    color: whitesmoke;
}
.navbar-item a{
    color: whitesmoke;
    font-family: Oswald;
}
.oculto {
    display: none;
}
.desplegable {
    width: 300px;

}
.nav-logo{
    height: 2em;
    width: 2em;
}
.black {
    background-color: black;
    text-align: center;
}
