<footer class="piePagina">
    <p>Copyright 2020 | Todos los derechos reservados Congelados. Congelados Go. Pilar | Argentina
      Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online y los planes de financiación para los productos presentados/publicados en www.congelados.com.ar y/o www.congelados.com son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas.Las especificaciones técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
    

      <div class="fb-page" data-href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/?modal=admin_todo_tour" data-tabs="timeline" data-width="250" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/?modal=admin_todo_tour" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/?modal=admin_todo_tour">Congelados Go Pilar</a></blockquote></div>
      <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0" nonce="c52TyhBz"></script>
     
    </footer>