<footer class="piePagina">
  
  <div class="copyright">
  <p>Copyright 2020 | Todos los derechos reservados Congelados. Congelados Go. Pilar | Argentina
    Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación
    de stock. Los precios online y los planes de financiación para los productos presentados/publicados en
    www.congelados.com.ar y/o www.congelados.com son válidos exclusivamente para la compra vía internet en las páginas
    antes mencionadas.Las especificaciones técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
  </div>

  <div class="fb-page" data-href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/?modal=admin_todo_tour"
    data-tabs="timeline" data-width="650" data-height="200" data-small-header="true" data-adapt-container-width="true"
    data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/?modal=admin_todo_tour"
      class="fb-xfbml-parse-ignore"><a
        href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/?modal=admin_todo_tour">Congelados Go
        Pilar</a></blockquote>
  </div>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0"
    nonce="c52TyhBz"></script>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>