<head>
    <!-- Etiqueta meta para configurar la visualicación de la página-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <title>
        <%= title %> 
    </title>

    <!--Etiquetas de stylesheets externas y fuentes-->


    <!--Etiquetas de nuestras propias stylesheets-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

