<header class="cabecera">
    <div class="d-flex justify-content-center">
        <a href="/">
        <img class="imglogo" src="/images/logo.png" alt=""></a>
        <a href="/"><h1 class="titulo">Congelados Go!</h1></a>
    </div>
    <ul class="itemsNav">
        <li><a href="/productos/listar">PRODUCTOS</a></li>
        <li><a href="#">COCCIÓN </a></li>
        <li><a href="#">REVENDER </a></li>
        <li><a href="#">CONTACTO </a></li>
        <li><a href="#">DELIVERY </a></li>
        <li><a href="#">NOSOTROS</a></li>
    </ul>

</header>