<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>



<body class="bodi">

  <%- include('partials/head') %>

    <!--Barra de menú-->
    <header class="cabecera">
        <div class="partLogo">
            <a href="/index.ejs"><img class="imglogo" src="/images/logo.png" alt=""></a>
            <h1 class="titulo">Congelados Go!</h1>
        </div>
            <ul class="itemsNav">
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">COCCIÓN </a></li>
                <li><a href="#">REVENDER </a></li>
                <li><a href="#">CONTACTO </a></li>
                <li><a href="#">DELIVERY </a></li>
                <li><a href="#">NOSOTROS</a></li>
            </ul>
        
    </header>

    <!--Barra del buscador + ingresar/iniciar sesión-->
    <nav class="navegBuscador">
        <!--Redes sociales-->
        <div class="sociales">
            <div class="logosocial">
                <a href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="logosocial">
                <a href="https://www.instagram.com/congelados.go/">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <!--Formulario de busqueda-->
        <div class="formulaBuscador">
            <div class="field has-addons">
                <form action="buscador" method="GET"></form>
                <div class="control">
                    <input class="input" type="text" placeholder="Buscar">
                </div>
                <div class="control">
                    <a class="button is-info color-gray">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                </form>
            </div>
        </div>
        <!--<form name="Buscador" method="GET" action="">
                <input type="search" name="buscador" autocomplete="on" form="formulario" placeholder="Buscar">
                <div class="input-group">
                    <i class="fas fa-search"></i>
                </div>
            </form>-->

        <!--Ingreso sesión/ carrito-->
        <ul class="itemsSesion">
            <!--Aquí deberá ir el html al ingreso-->
            <li><a href="http://">INGRESAR</a></li>
            <!--Aquí deberá ir el carrito de compra-->
            <li><a href="productCart.html"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>

    <div class="cuerpo">
        <!--Carrusel-->
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/jamon y queso.jpg" class="d-block w-100" alt="jamón y queso">
                </div>
                <div class="carousel-item">
                    <img src="/images/pan-de-queso.png" class="d-block w-100" alt="chipa">
                </div>
                <div class="carousel-item">
                    <img src="/images/pizza.png" class="d-block w-100" alt="pizza">
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script>
                 //$('.carousel').carousel();
            </script>

        </div>
        <section class="seccion">
            <div class="container is-fluid">
                <div class="columns is-multiline">
                    <article class="column is-4 border">
                        <!--Articulos-->
                        <a href="http://"><img src="/images/mini-tartas.png" alt=""></a>
                        <h2>Mini tartas de verdura</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa recusandae minus facilis modi
                            adipisci exercitationem! Voluptate saepe iste aliquid ullam praesentium. Necessitatibus
                            quaerat consequatur reprehenderit unde fuga sint ut quibusdam?</p>
                        <button class="vermas"><a href="http://">ver más</a></button>
                        <button class="agregarcar"><a href="http://">Agregar al Carrito</a></button>
                    </article>
                    <article class="column is-4 border">
                        <a href="http://"><img src="/images/pan-de-queso.png" alt=""></a>
                        <h2>Pan de queso (Chipá)</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, fuga, repudiandae nulla
                            illum
                            similique repellendus saepe quas numquam ad quia hic sit! Modi quia consectetur, maiores
                            eius
                            aperiam nobis illum?</p>
                        <button class="vermas"><a href="http://">ver más</a></button>
                        <button class="agregarcar"><a href="http://">Agregar al Carrito</a></button>
                    </article>
                    <article class="column is-4 border">
                        <a href="http://"><img src="/images/pizza.png" alt=""></a>
                        <h2>Pizza de muzzarella</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit soluta ratione itaque
                            perferendis
                            possimus dolorem. Rerum deserunt perspiciatis dolor soluta eligendi? Possimus quasi
                            doloremque
                            earum
                            placeat aut odit atque fugiat.</p>
                        <button class="vermas"><a href="http://">ver más</a></button>
                        <button class="agregarcar"><a href="http://">Agregar al Carrito</a></button>
                    </article>
                    <article class="column is-4 border">
                        <a href="http://"><img src="/images/tartas.png" alt=""></a>
                        <h2>Tarta de calabaza</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis aspernatur
                            deserunt
                            consequuntur vitae recusandae soluta temporibus ullam, id, pariatur quam numquam sapiente
                            magni
                            ratione excepturi aperiam doloribus facilis neque.</p>
                        <button class="vermas"><a href="http://">ver más</a></button>
                        <button class="agregarcar"><a href="http://">Agregar al Carrito</a></button>
                    </article>
                    <article class="column is-4 border">
                        <a href="http://"><img src="/images/tostable.png" alt=""></a>
                        <h2>Tostables de jamón y queso</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fuga mollitia provident eos,
                            quo
                            reiciendis facere dolores enim, possimus delectus similique labore doloremque aliquam
                            molestias
                            tempora necessitatibus illum, corrupti voluptatum!</p>
                        <button class="vermas"><a href="http://">ver más</a></button>
                        <button class="agregarcar"><a href="http://">Agregar al Carrito</a></button>
                    </article>
                    <article class="column is-4 border">
                        <a href="http://"><img src="/images/jamon y queso.jpg" alt=""></a>
                        <h2>Empanadas de jamón y queso</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tenetur officia veniam
                            laudantium
                            ipsa, cumque natus quasi non quaerat voluptate vitae molestias doloremque at dolores qui
                            necessitatibus modi rem accusamus!</p>
                        <button class="vermas"><a href="http://">ver más</a></button>
                        <button class="agregarcar"><a href="http://">Agregar al Carrito</a></button>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <footer class="piePagina">
        <h5>Todos los derechos reservados a Congelados Go - 2020</h5>
        <h6>Grupo 5</h6>
    </footer>
</body>

</html>