<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Congelados Go</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/59ffe184f6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/image/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body class="bodi">
    <!--Barra de menú-->
    <header class="cabecera">
        <div class="partLogo">
            <a href="index.html"><img class="imglogo" src="./image/logo.png" alt=""></a>
            <h1 class="titulo">Congelados Go!</h1>
        </div>
        <ul class="itemsNav">
            <li><a href="#">PRODUCTOS</a></li>
            <li><a href="#">COCCIÓN </a></li>
            <li><a href="#">REVENDER </a></li>
            <li><a href="#">CONTACTO </a></li>
            <li><a href="#">DELIVERY </a></li>
            <li><a href="#">NOSOTROS</a></li>
        </ul>

    </header>

    <nav class="navegBuscador">
        <!--Redes sociales-->
        <div class="sociales">
            <div class="logosocial">
                <a href="https://www.facebook.com/Congelados-Go-Pilar-101760601380037/">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="logosocial">
                <a href="https://www.instagram.com/congelados.go/">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <!--Formulario de busqueda-->
        <div class="formulaBuscador">
            <div class="field has-addons">
                <form action="buscador" method="GET"></form>
                <div class="control">
                    <input class="input" type="text" placeholder="Buscar">
                </div>
                <div class="control">
                    <a class="button is-info">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                </form>
            </div>
        </div>

        <!--Ingreso sesión/ carrito-->
        <ul class="itemsSesion">
            <!--Aquí deberá ir el html al ingreso-->
            <li><a href="http://">INGRESAR</a></li>
            <!--Aquí deberá ir el carrito de compra-->
            <li><a href="productCart.html"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
    <div class="cuerpo">
        <section class="seccion">
            <div class="container is-fluid">
                <div class="columns is-multiline">
                    <article class="column is-3 border">
                        <h3>MEDIOS DE PAGO</h3>
                        <p>Podes abonarlo a travéz de Mercado Pago o en efectivo al momento de la entrega</p>

                    </article>
                    <article class="column is-9 border">
                        <header>
                            <h3>TU PEDIDO</h3>
                        </header>

                        <div class="eliminarCar">
                            <button type="button">x</button>
                        </div>
                        <p>ProductoCaracter1 >>>>>>>>>>>>>></p>
                        <p>$123</p>
                        <p>ProductoCaracter2 >>>>>>>>>>>>></p>
                        <p>$321</p>
                        <br>
                        <p>Subtotal >>>>>>>>>>>>></p>
                        <p>$444</p>
                        <br>
                        <footer>
                            <form action="">
                                <div>
                                    <button>Continuar Comprando</button>                                    
                                </div>
                                <p>Total >>>>>>>>>>>>></p>
                                <p>$500</p>
                                <div>
                                    <button>Continuar hacia medio de Pago</button>                                    
                                </div>
                            </form>
                        </footer>

                    </article>

                </div>

            </div>

        </section>
    </div>

    <footer class="piePagina">
        <h4>Todos los derechos reservados a Congelados Go</h4>
        <h5>Grupo 5</h5>
    </footer>
</body>

</html>